:root {
  --blue-50: '#F0F8FF',
  --blue-100: '#E1F1FD',
  --blue-200: '#A6D6F9',
  --blue-300: '#88C8F7',
  --blue-400: '#61B7F4',
  --blue-500: '#1292EE',
  --blue-600: '#0F80D1',
  --blue-700: '#0C6CB1',
  --blue-800: '#084977',
  --blue-900: '#192E3D'

  --green-50: '#F2FCFA',
  --green-100: '#DEF7F0',
  --green-200: '#B3EFDE',
  --green-300: '#89E6CC',
  --green-400: '#5AE2BB',
  --green-500: '#09D69C',
  --green-600: '#12A27C',
  --green-700: '#0D795A',
  --green-800: '#09513E',
  --green-900: '#06372C'

  --yellow-50: '#FEFBF4',
  --yellow-100: '#FFF0D1',
  --yellow-200: '#FFE3A5',
  --yellow-300: '#FCD683',
  --yellow-400: '#FFCA59',
  --yellow-500: '#FFC240',
  --yellow-600: '#DA950B',
  --yellow-700: '#B07909',
  --yellow-800: '#6F4C06',
  --yellow-900: '#3D2902'

  --red-50: '#FEF2F3',
  --red-100: '#FBD7D9',
  --red-200: '#F6AEB3',
  --red-300: '#F2868D',
  --red-400: '#ED5D67',
  --red-500: '#E93541',
  --red-600: '#CE1723',
  --red-700: '#9A111A',
  --red-800: '#670B11',
  --red-900: '#370609'

  --grey-100: '#fbfdfe',
  --grey-200: '#f9fafb',
  --grey-300: '#ecf0f3',
  --grey-400: '#b7c1c8',
  --grey-500: '#8e9ba4',
  --grey-600: '#687782',
  --grey-700: '#273b49',
  --grey-800: '#28353e',
  --grey-900: '#192229'
}