@layer base {
	:root {
    --black: 0 0 0;
    --white: 255 255 255;

		--blue-50: 240 248 255;
		--blue-100: 225 241 253;
		--blue-200: 166 214 249;
		--blue-300: 136 200 247;
		--blue-400: 97 183 244;
		--blue-500: 18 146 238;
		--blue-600: 15 128 209;
		--blue-700: 12 108 177;
		--blue-800: 8 73 119;
		--blue-900: 25 46 61;

		--green-50: 242 252 250;
		--green-100: 222 247 240;
		--green-200: 179 239 222;
		--green-300: 137 230 204;
		--green-400: 90 226 187;
		--green-500: 9 214 156;
		--green-600: 18 162 124;
		--green-700: 13 121 90;
		--green-800: 9 81 62;
		--green-900: 6 55 44;

		--yellow-50: 254 251 244;
		--yellow-100: 255 240 209;
		--yellow-200: 255 227 165;
		--yellow-300: 252 214 131;
		--yellow-400: 255 202 89;
		--yellow-500: 255 194 64;
		--yellow-600: 218 149 11;
		--yellow-700: 176 121 9;
		--yellow-800: 111 76 6;
		--yellow-900: 61 41 2;

		--red-50: 254 242 243;
		--red-100: 251 215 217;
		--red-200: 246 174 179;
		--red-300: 242 134 141;
		--red-400: 237 93 103;
		--red-500: 233 53 65;
		--red-600: 206 23 35;
		--red-700: 154 17 26;
		--red-800: 103 11 17;
		--red-900: 55 6 9;

		--grey-100: 251 253 254;
		--grey-200: 249 250 251;
		--grey-300: 236 240 243;
		--grey-400: 183 193 200;
		--grey-500: 142 155 164;
		--grey-600: 104 119 130;
		--grey-700: 39 59 73;
		--grey-800: 40 53 62;
		--grey-900: 25 34 41;
	}

	:root {
		.dark {
			--white: 27 40 49;
			--black: 255 255 255;

			--blue-100: 25 46 61;
			--blue-400: 18 146 238;
			--blue-500: 97 183 244;

			--grey-200: 39 59 73;
			--grey-600: 183 193 200;
			--grey-700: 236 240 243;
		}
	}
}
